@common-color:#ff00ff;

.common-box(@borderWidth : 5px) {
	color:@common-color;
	border:@borderWidth @common-color solid;
	width:@borderWidth*20;
	height:@borderWidth*20;
	border-radius: @borderWidth * 2;
	padding:@borderWidth;
}


.common-header{
	background-color:#ccc;
	.common-box(35px);
	float:left;
	font-size:20px;
}